@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
#forestPlot {
    font-family: 'Lato', sans-serif;
}
#forestPlot text {
    font-family: 'Lato', sans-serif;
}

#forestPlot1 {
    font-family: 'Lato', sans-serif;
}
#forestPlot1 text {
    font-family: 'Lato', sans-serif;
}

#forestPlot2 {
    font-family: 'Lato', sans-serif;
}
#forestPlot2 text {
    font-family: 'Lato', sans-serif;
}

#forestPlot3 {
    font-family: 'Lato', sans-serif;
}
#forestPlot3 text {
    font-family: 'Lato', sans-serif;
}

#tooltip {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    box-shadow: 0px 0px 10px grey;
    font-family: 'Lato', sans-serif;
}
#tooltip_author {
    display: none;
    position: absolute;
    background-color: white;
    padding: 15px;
    font-size: 18px;
    width: 400px;
    box-shadow: 0px 0px 10px grey;
    font-family: 'Lato', sans-serif;
}
.highlighted {
    fill: red;
    font-weight: bold;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px; /* Adjust the space between columns as needed */
    grid-row-gap: 25px; /* Adjust the space between rows as needed */
    width: 55%; /* Adjust the grid container width as needed */
    margin: 0 auto;
}




.plot-container {
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color:white; /* Add this line to set the background color */
  }

  .plot-container1 {
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #A8E0D6; /* Add this line to set the background color */
  }

  .plot-container2 {
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #F3D5DB; /* Add this line to set the background color */
  }

  .plot-container3 {
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #C9E0EC; /* Add this line to set the background color */
  }









  .dropdown-menu {
    background-color: #f8f9fa !important;
    border: none !important;
    box-shadow: none !important;
  }



  .dropdown-item {
    color: #343a40 !important;
  }
  .dropdown-item:hover {
    background-color: #f8f9fa !important;
    color: #dc3545 !important;
  }

  .text-center{
    margin-top: 40px; /* Add space above the dropdown */
    margin-bottom: 40px; /* Add space below the dropdown */
  }












  